# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheel/
*.egg-info/

# GitHub workflows
github/workflows/python-app.yml

# IDE files
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Test results
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Logs
*.log

# Other files
*.DS_Store
